tag-cloud {
	font-family: Arial;
	font-size: 10pt;
}
.highlight {
	color: #FF0 !important;
	font-weight: bold;
}
.badge {
  font-size: small;
  color: #369;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -1px;
  cursor: pointer;
}
tag-cloud .highlight {
	color: #F00 !important;
	font-weight: bold;
}
